<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  </head>

  <body>
    <main class="container mx-auto w-sm flex flex-col h-full">
      <div id="messages" class="flex-auto"></div>

      <input
        class="rounded-lg mx-auto w-full p-4 outline-none shadow-lg font-size-5 font-semibold flex-initial"
        type="text"
        name="ticker"
        hx-get="/messages"
        hx-trigger="load"
        hx-target="#messages"
      />

      <div hx-ext="ws" hx-sse="/ws/123?v=1.0">
        <p>abc</p>
      </div>

      <div hx-ext="ws" hx-ws="connect:/ws/123?v=1.0">
        <p>abc</p>
      </div>
    </main>
  </body>
</html>
